<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if title is defined %} {{ '|' ~ 'Home'|trans }} {% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ app.request.basepath }}/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="{{ app.request.basepath }}/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="wrapper">
    {% set active = active|default(null) %}
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('dashboard') }}">Application name</a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.session.has('IS_AUTHENTICATED_FULLY') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe fa-fw"></i> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu sw">                                
                        <li class="sw"><a href="{{ path('locale', {locale:'fr'}) }}">FR</a></li>
                        <li class="sw"><a href="{{ path('locale', {locale:'nl'}) }}">NL</a></li>
                        <li class="sw"><a href="{{ path('locale', {locale:'en'}) }}">EN</a></li>
                    </ul>
                </li>
                <li class="col-md-1"></li>
                {#
                <li class="dropdown{% if 'Admin' == active %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flask fa-fw"></i> {{ 'Admin'|trans }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_settings') }}"><i class="fa fa-sliders"></i> {{ 'Settings'|trans }}</a>
                    </ul>
                </li>
        
                <li class="dropdown{% if 'Account' == active %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"></i> {{ 'Account'|trans }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('account_settings') }}"><i class="fa fa-sliders"></i> {{ 'Settings'|trans }}</a>
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> {{ 'Logout'|trans }}</a></li>
                    </ul>
                </li>
                #}
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->                 

        
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                    {% if app.session.has('IS_AUTHENTICATED_FULLY') %}
                        <ul class="nav" id="side-menu">
                            <li {% if 'Dashboard' == active %}class="active"{% endif %}>
                                <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i>&nbsp;&nbsp;&nbsp;{{ 'Dashboard'|trans }}</a>
                            </li>
                        </ul>
                    {% endif %}
                    </div>
        </div>
            </div>
            <div class="col-md-9">
                {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
                {% for alert in alertTypeAvaillable %}
                    {% for message in app.session.getFlashBag.get(alert) %}
                        <div class="alert alert-{{ alert }}" role="alert">
                            <button class="close" data-dismiss="alert">×</button>
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/assets/js/scripts.js"></script>
</body>
</html>
