{% extends 'layout.html.twig' %}
{% set active = 'Login' %}

{% block content %}

    <h1>{{ 'Login'|trans }}</h1>

    <form action="{{ path('login_check') }}" method="post" {{ form_enctype(form) }} class="form-vertical" role="form">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
        </div>
    </form>

{% endblock %}
