* {
	font-family: 'Open Sans', sans-serif;
}

.navbar,
.dropdown-menu {
	background-color: #0066CC !important; 
}

.navbar-inverse {
	border-color: #eee !important;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	color: #fff !important;
	background-color: #66b2ff !important;
}

.navbar a {
	color: #fff !important;
}

.navbar a:hover {
	background-color: #66b2ff !important;
}

.navbar-brand {
	color: #fff !important;
}

.navbar-default {
	background-color: #fff !important;
}

.nav-second-level {
	margin: 0px !important;
}

h4 {
	font-weight: bold !important;
}

.clear-margin {
	margin-left: 0px !important;
}

.form-actions {
	margin-top: 10px;
}

.sw {
	min-width: 70px !important;
	width: 70px !important;
}

.small-width {
	width: 100px;
}

.medium-width {
	width: 250px;
}